<div id="appBody" class="container-fluid" style="background-color: #f0cbbd;padding: 0;">
    <div class="card text-center rounded-0">
        <div class="card-header">
            Read with <i class="fab fa-blogger-b"></i>ooksy
        </div>
        <div class="card-body">
            <h5 class="card-title">Sell Your Digital Book</h5>
            <p class="card-text">We are only accepting books in PDF format at this time.</p>
            <a href="#" class="btn btn-primary">Upload Your Book</a>
        </div>
        <div class="card-footer text-muted">
            <i class="fab fa-blogger-b"></i>ridge the Gap
        </div>
    </div>

    <!-- book cards row start -->
    <div class="row justify-content-around">
        <div class="card mt-5" style="width: 18rem;">
            <img src="https://www.eastonpress.com/secure/Content/ImagesProducts/f451a52b-9cc0-4d63-ba25-39a4bc8ddd3d_500_0.jpg"
                class="card-img-top" alt="book">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- car 2 -->
        <div class="card mt-5" style="width: 18rem;">
            <img src="https://www.eastonpress.com/secure/Content/ImagesProducts/f451a52b-9cc0-4d63-ba25-39a4bc8ddd3d_500_0.jpg"
                class="card-img-top" alt="book">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- card 3 -->
        <div class="card mt-5" style="width: 18rem;">
            <img src="https://www.eastonpress.com/secure/Content/ImagesProducts/f451a52b-9cc0-4d63-ba25-39a4bc8ddd3d_500_0.jpg"
                class="card-img-top" alt="book">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- card 4 -->
        <div class="card mt-5" style="width: 18rem;">
            <img src="https://www.eastonpress.com/secure/Content/ImagesProducts/f451a52b-9cc0-4d63-ba25-39a4bc8ddd3d_500_0.jpg"
                class="card-img-top" alt="book">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <!-- card 5 -->
        <div class="card mt-5" style="width: 18rem;">
            <img src="https://www.eastonpress.com/secure/Content/ImagesProducts/f451a52b-9cc0-4d63-ba25-39a4bc8ddd3d_500_0.jpg"
                class="card-img-top" alt="book">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                    the
                    card's
                    content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>

    <!-- book cards row end -->
</div>