<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Booksy Book For Life</title>
    <script src="https://kit.fontawesome.com/bfa195b1fd.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="../styles/home.css">
</head>

<body>
    <!-- the big green header -->
    <header class="header">
        <div class="logo-box">
            <i class="fab fa-blogger-b logo"></i>
        </div>
        <div class="text-box">
            <h1 class="heading-primary">
                <span class="heading-primary-main">
                    obooksy

                </span>
                <span class="heading-primary-sub">
                    read to get bright
                </span>
            </h1>
            <a href="#" class="btn btn-white btn-animated">Our Books</a>
        </div>



    </header>


</body>

</html>