<%include ./partials/head%> <%include ./partials/navBar%>
<div id="appBody" class="container">
  <%if(errorMessage){%>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong><%=errorMessage[0]%>!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <% }%>
  <div class="row justify-content-center">
    <form method="POST" action="/login" class="mt-5 col-lg-4">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input
          type="text"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter Username"
          name="username"
        />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          placeholder="Password"
          name="password"
        />
      </div>
      <div class="row justify-content-center">
        <button type="submit" class="btn btn-primary">
          LogIn
        </button>
      </div>
    </form>
  </div>
</div>
<%include ./partials/feet%>
